<footer class="footer bg-dark mt-auto">
  <div class="container">
    <div class="text-muted text-center mx-auto">
      &copy; YelpCamp 2020 by
      <a class="text-light text-decoration-none" href="https://www.udemy.com/user/coltsteele/">Colt Steele</a>
    </div>
    <div class="text-muted text-center mx-auto">
      Developed by <a class="text-light text-decoration-none" href="https://github.com/quantranwot">quantranwot</a>
    </div>
  </div>
</footer>
